body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
a {
    text-decoration: none;
}

header {
    background-color:#A890FE;
    
    color: #105cb3;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radious:10px;
    
}
   

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

.color-style {
    color: coral;
}

header a {
    color: #fff;
    font-size: 2rem;
}

nav a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover, header a:hover {
    color: coral; /* Change the color on hover */
}

/* Main */
/* Top Section */
main {
    width: 70vw;
    margin: 0 auto;
}
section {
    margin: 100px 0 100px 0;
}

/* Hero section */
#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.left-content {
    flex: 1;
    padding-right: 20px;
}

.right-content {
    flex: 1;
    text-align: right;
}

h1, p {
    margin-bottom: 20px;
}

.resume {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid coral;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.resume:hover {
    color: white;
    background-color: black;
}

img {
    max-width: 100px%;
    height: 100px;
    box-shadow: 3px 1.5px #6f927a;
    border-radius: 10px;
}

/* Skills */
#skills {
    padding: 40px;
    background-color: #f0f0f0;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.skill h2 {
    color: coral;
}

.skill {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px;
}

h2 {
    color: #333;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50vw;
}

input, textarea {
    padding: 10px 5px
}
.message {
    max-width: 150px;
    padding: 10px 15px;
}

footer {
    text-align: center;
    background-color: #333;
    padding: 15px 0;
    color: white;
}


/* Responsive */
@media screen and (max-width: 600px) {
    #hero, .skills-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    
}
